h1
{
    color: darkblue
}
.header
{
    text-align: center;
}
img
{
    height: 10em;
    width: 22%;
    margin: 1% 1% 1% 1%
}
.scoreboard
{
    text-align: center;
    margin-top: 5%;
}
.images
{
   align-items: center;
    margin-top: 10%;
}